<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
</head>
<body>
<h1>List of Files</h1>

<table>
    <thead>
    <tr>
        <th>File Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
        <td th:text="${file}"></td>
        <td>
            <!-- Redirect to the video player page and pass the file name as a query parameter -->
            <a th:href="@{/files/video-player(filename=${file})}">
                Watch Video
            </a>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a href="/files">Back to File List</a>
</body>
</html>
