<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
</head>
<body>
<h1>Files in Azure Storage</h1>
<form action="/files/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Upload</button>
</form>

<h2>List of Files:</h2>
<ul>
    <th:block th:each="file : ${files}">
        <li>
            <a th:href="@{/files/download/{blobName}(blobName=${file})}" th:text="${file}"></a>
            - <a th:href="@{/files/delete/{blobName}(blobName=${file})}">Delete</a>
        </li>
    </th:block>
</ul>
</body>
</html>
